body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  color: #000614;
}

/* Header section */
.nav {
  margin: 0 40px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.links {
  justify-self: flex-end;
}

a {
  text-decoration: none;
  color: #7b9cd1;
  padding: 10px;
}

a:hover {
  color: #fefdbc;
}

button {
  background-color: #627ca7;
  color: #fffff3;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
}

#sign:hover {
  background-color: #fefdbc;
  color: #000614;
}

figcaption {
  text-align: center;
  color: #000614;
}

.darkest {
  background-color: #000614;
  color: #fffff3;
}

.presentation {
  margin: 0 40px 0 40px;
  padding: 20px 0 20px 0;
  display: flex;
}

/* Images middle section */
.middle-light {
  margin: 0 40px 0 40px;
  background-color: #fffff3;
  color: #000614;
}

.objects {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.pics {
  border: 4px solid #7b9cd1;
  border-radius: 8px;
}

/* Quote section */
.middle-quote {
  padding: 10px 30px;
  background-color: #fefdbc;
  color: #000614;
  font-size: 28px;
  font-style: italic;
}

blockquote {
  text-align: justify;
}

#man {
  text-align: right;
  font-size: 18px;
  color: #000614;
  padding-right: 40px;
}

/* Newsletter section */
.newsletter {
  color: #fffff3;
  margin: 60px 180px;
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #627ca7;
}

#news {
  border: solid 2px #fffff3;
}

#news:hover {
  background-color: #000614;
}

/* Footer section */
#copyright {
  margin-bottom: 0;
  padding: 10px 0;
  text-align: center;
}

/* Media query */
@media (max-width: 800px) {
  .nav, .presentation, .objects,
  .newsletter {
    flex-direction: column;
  }

  .newsletter {
    margin: 0;
    padding: 10px;
    border-radius: 0;
  }

  #telescope {
    padding-top: 15px;
    max-width: 300px;
    height: auto;
  }

  .middle-quote {
    padding: 10px 0;
  }

  blockquote {
    text-align: center;
  }
}